.contents__messages__box
    .contents__messages__box__name
        = message.user.name
    .contents__messages__box__date
        = message.created_at.strftime("%Y/%m/%d %H/%M")
    .contents__messages__box__lower
        - if message.content.present?
            %p.contents__messages__box__lower__content
                = message.content
        = image_tag message.image.url, class: 'contents__messages__lower__image' if message.image.present?
